:root {
  --blackColor: #111;
  --lightColor: #f4f4f4;
  --whiteColor: #fff;
  --greyColor: #686866;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

i {
  font-size: 2rem !important;
}

body {
  font: normal 1.6rem/1.5 "Roboto", sans-serif;
  background: var(--lightColor);
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--blackColor);
}

img {
  width: 100%;
}

.main-header {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.main-navbar {
  background: var(--whiteColor);
  min-height: 5rem;
  /* box-shadow: 0.2rem 0.2rem 0.2rem #ccc; */
  background: var(--blackColor);
  color: #fff;
}

.main-navbar a {
  color: var(--whiteColor);
}

.main-navbar .left-nav-item i {
  cursor: pointer;
}

.main-navbar .right-nav-item li {
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
}

.main-navbar .right-nav-item li i {
  position: relative;
}

.main-navbar .right-nav-item .message {
  position: absolute;
  background: linear-gradient(to right top, red, orange);
  top: -90%;
  right: -40%;
  bottom: 0;
  width: 1.5rem;
  margin: auto;
  height: 1.5rem;
  color: var(--whiteColor);
  font-size: 1.2rem;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.main-navbar .right-nav-item > .profile {
  /* background: var(--lightColor); */
  padding: 0.5rem 1rem;
  border-radius: 1.6rem;
}

.main-navbar .right-nav-item li ul {
  position: absolute;
  right: 0;
  width: 20rem;
  background: var(--blackColor);
  display: none;
}

.main-navbar .right-nav-item li:hover > ul {
  display: block;
}

.main-aside {
  position: fixed;
  background: var(--whiteColor);
  height: 100vh;
  width: 5rem;
  transition: width 0.2s ease-in-out;
  background: #111;
  z-index: 1000;
  color: var(--whiteColor);
}

.main-aside a {
  color: var(--whiteColor);
}

.main-aside ul li {
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.main-aside-animate {
  width: 20rem;
}

.main-aside ul li span {
  transition: opacity 1s linear;
  display: none;
  opacity: 0;
}

.main-aside-animate ul li span {
  display: inline-block;
  opacity: 1;
}

.main-aside ul li > ul {
  display: none;
}

.main-aside-animate ul li > ul {
  margin-left: 1.5rem;
  display: none;
}

.main-aside ul li ul > li {
  padding: 0.5rem 0;
}

.aside-sub-links-animate-open {
  display: block !important;
}

.aside-sub-links-animate {
  position: absolute;
  top: 0;
  left: 100%;
  width: 20rem !important;
  display: block !important;
  background: var(--blackColor) !important;
  padding: 1rem 2rem !important;
}

.d-flex {
  display: flex;
}

.d-column {
  flex-flow: wrap column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-black {
  color: var(--blackColor);
}

.text-grey {
  color: #686866;
}

.text-center {
  text-align: center;
}

.text-right {
  float: right;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.d-lg-none {
  display: none;
}

.bg-purple {
  background: linear-gradient(steelblue, purple) !important;
  color: #fff;
}

.bg-blue {
  background: linear-gradient(blue, steelblue) !important;
  color: #fff;
}

.bg-orange {
  background: linear-gradient(coral, orange) !important;
  color: #fff;
}

.bg-black {
  background: linear-gradient(#111, grey) !important;
  color: #fff;
}

.bg-indigo {
  background: linear-gradient(yellow, orange) !important;
  color: #fff;
}

.bg-steelbue {
  background: linear-gradient(royalblue, steelblue) !important;
  color: #fff;
}

.active {
  background: #333;
}

.active a {
  color: #686866;
}

.table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  font-size: 1.4rem;
  width: 100%;
  overflow: hidden;
}

.table thead > tr {
  background: var(--lightColor);
  text-align: left;
}

.table th {
  font-weight: bold;
}

.table th,
.table td {
  padding: 1rem 0.2rem;
}

.table tr:nth-child(even) {
  background: var(--lightColor);
}

.table tbody tr:hover {
  background: #ccc;
}

.table td a {
  display: block;
}

.card {
  background: var(--whiteColor);
  height: 100%;
  border-radius: 0.2rem 0.2rem 0.2rem #ccc;
}

/* progress */
.progress {
  width: 90%;
  margin: 0 auto;
  height: 0.5rem;
  border-radius: 1.6rem;
  background: #ddd;
}

.load-25 {
  background: linear-gradient(to right, red 25%, #ddd 25%, #ddd);
}
.load-50 {
  background: linear-gradient(to right, yellow 50%, #ddd 50%, #ddd);
}
.load-75 {
  background: linear-gradient(to right, lightgreen 75%, #ddd 75%, #ddd);
}
.load-100 {
  background: linear-gradient(to right, limegreen 100%, #ddd 100%);
}

.list-group {
}

.width-5 {
  width: 2.5rem !important;
}

.d-none {
  display: none;
}

@media (max-width: 76.8rem) {
  .d-sm-none {
    display: none;
  }

  .d-block {
    display: block;
  }
}

@media only screen and (max-width: 30rem) {
  html {
    font-size: 7px;
  }

  .d-xs-none {
    display: none;
  }
}
